<div class="top-bar">
<div class="boardlist">
    <span>
        [
        {% for boardlink in boardlist %}
        <a href="/{{ boardlink }}/">{{ boardlink }}</a> 
        {% if not loop.last %}
        /
        {% endif %}
        {% endfor %}
        ]
    </span>
</div>

<div class="header_links">
    [<a href="/">Home</a>]
</div>
</div>

<header>
    <img src="{{ banner }}">
    <h1>/{{ board }}/ - {{ boardname }}</h1>
    <p>{{ boardsubtitle }}</p>
    <hr class="above_post_form">
    <div class="ad big_ad">
        <a href="{{ headadurl }}" title="{{ headadtext }}">
            <img src="{{ headad }}" alt="{{ headadtext }}" title="{{ headadtext }}">
        </a>
    </div>
</header>

<hr>

<div class="post_form">
{% if posts %}
<div class="form_banner">
    Posting mode: Reply
    <a href="/{{ board }}/">[Return]</a>
</div>
{% endif %}
<form action="" method="post" target="" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <th>{{ form.name.label }}</th>
                <td>{{ form.name(size=25, placeholder="Anonymous", tabindex=1) }}</td>
            </tr>
            <tr>
                <th>{{ form.email.label }}</th>
                <td>{{ form.email(size=25, tabindex=2) }}</td>
            </tr>
            <tr>
                <th>{{ form.subject.label }}</th>
                <td>{{ form.subject(size=25, tabindex=3) }}{{ form.submit(tabindex=7) }}</td>
            </tr>
            <tr>
                <th>{{ form.post.label }}</th>
                <td>{{ form.post(cols="35", rows="10", tabindex=4) }}</td>
            </tr>
            <tr>
                <th>{{ form.file.label }}</th>
                <td>{{ form.file(accept="image/*", tabindex=5) }} [{{ form.spoiler(tabindex=6) }}{{ form.spoiler.label }}] </td>
            </tr>
            <tr>
                <th>{{ form.password.label }}</th>
                <td>{{ form.password(maxlength=12, size=12, value=password) }} <span class="clarification">(Password used for deletion)</span></td>
            </tr>
        </table>
    </form>
    <hr>
    <div class="ad small_ad">
        <a href="{{ formadurl }}" title="{{ formadtext }}">
            <img src="{{ formad }}" alt="{{ formadtext }}" title="{{ formadtext }}">
        </a>
    </div>
    <hr>
</div>