<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/{{ board }}/ - tomochan</title>
</head>
<body>
    {% include 'header.html' %}

    {% if threads %}
    {% for post in threads %}
    <div class="post op" id="post_{{ post[0] }}">
        <p class="header">
            <span class="subject">{{ post[8] }} </span>
            <span class="name">
                {% if post[7] %}
                <a href="mailto:{{ post[7] }}">{{ post[6] }}</a>
                {% else %}
                {{ post[6] }}
                {% endif %}
            </span>
            <span class="timestamp">{{ get_strftime(post[5]) }} @{{ get_swatch(post[5]) }}</span>
            <span class="id">No. {{ post[0] }}</span>
        </p>
        <div class="content">
            <!--
            {% for paragraph in post['content'] %}
                {{ paragraph }}<br>
            {% endfor %} -->
            {{ post[9] }}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>sorry no posts :(</p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>