<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/yotsuba-b.css">
    <title>/{{ board }}/ - tomochan</title>
</head>
<body>
    {% include 'header.html' %}

    {% if threads %}
    {% for post in threads %}
    {% if post['op'] == 1 %}
    <div class="post op" id="post_{{ post['id'] }}">
    {% else %}
    <div class="post reply" id="post_{{ post['id'] }}">
    {% endif %}
        {% include 'post.html' %}
    </div>
    {% endfor %}
    {% else %}
    <p>sorry no posts :(</p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>