<div class="boardlist">
    <span>
        {% for boardlink in boardlist %}
        <a href="/{{ boardlink }}/">/{{ boardlink }}/</a>
        {% endfor %}
    </span>
</div>

<header>
    <img src="{{ banner }}">
    <h1>/{{ board }}/ - {{ boardname }}</h1>
    <p>{{ boardsubtitle }}</p>
</header>

<div class="post_form">
{% if posts %}
<div class="form_banner">
    Posting mode: Reply
    <a href="/{{ board }}/">[Return]</a>
</div>
{% endif %}
<form action="" method="post" target="" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <th>{{ form.name.label }}</th>
                <td>{{ form.name(size=25, placeholder="Anonymous") }}</td>
            </tr>
            <tr>
                <th>{{ form.email.label }}</th>
                <td>{{ form.email(size=25) }}</td>
            </tr>
            <tr>
                <th>{{ form.subject.label }}</th>
                <td>{{ form.subject(size=25) }}{{ form.submit() }}</td>
            </tr>
            <tr>
                <th>{{ form.post.label }}</th>
                <td>{{ form.post(cols="35", rows="10") }}</td>
            </tr>
            <tr>
                <th>{{ form.file.label }}</th>
                <td>{{ form.file }} [{{ form.spoiler }}{{ form.spoiler.label }}] </td>
            </tr>
        </table>
    </form>
</div>