<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/yotsuba-b.css">
    <title>/{{ board }}/ - {{ boardname }} - tomochan</title>
</head>
<body>
    {% include 'header.html' %}

    <span>[<a href="/{{ board }}/catalog">Catalog</a>]</span>
    <hr>

    <!-- <form method="post"> -->
    {# deleteform.hidden_tag() #}
    {% if threads %}
    {# set checkbox_index = namespace(value=0) #}
    {% for thread in threads %}
    <div class="thread">
    {% for post in thread %}
        {% include 'post.html' %}
    {% if post['reply_count'] > 5 %}
    <span class="summary">{{ post['reply_count'] - 5 }}
    {% if post['reply_count'] == 6 %}
    reply
    {% else %}
    replies
    {% endif %} ommitted, <a href="/{{ board }}/{{ post['post_id'] }}">Click here</a> to view.</span>
    {% endif %}
    {% endfor %}
    </div>
    <hr>
    {% endfor %}
    {% else %}
    <p>sorry no posts :(</p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="footad">
        <a href="{{ footadurl }}" title="{{ footadtext }}">
            <img src="{{ footad }}" alt="{{ footadtext }}" title="{{ footadtext }}">
        </a>
    </div>

    {# {{ deleteform.fileonly }} {{ deleteform.password }} {{ deleteform.delete }} {{ deleteform.report }} #}
    <!-- </form> -->

    {% include 'footer.html' %}
</body>
</html>