<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/yotsuba-b.css">
    <title>/{{ board }}/ - {{ boardname }} - Catalog - tomochan</title>
</head>

<body>
    {% include 'header.html' %}
    [<a href="/{{ board }}">Return</a>] [<a href="#footer">Bottom</a>]
    {% if threads %}
    <div class="catalog_container">
        {% for thread in threads %}
        <div class="catalog_entry" id="{{ thread['post_id'] }}">
            <a href="/{{ board }}/{{ thread['post_id'] }}/">
                <img src="/uploads/{{ thread['file_thumbnail'] }}">
            </a><br>
        <span class="reply_count">R : <b>{{ thread['reply_count'] }}</b></span><br>
        {% if thread['subject'] %}
            <span class="subject"><b>{{ thread['subject'] }}</b>: </span>
        {% endif %}
        <span class="content">{{ thread['content'] }}</span>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>idk what to say man there are supposed to be posts here</p>
    {% endif %}
    </div>

    <hr>
    [<a href="/{{ board }}">Return</a>] [<a href="#">Top</a>]
    <hr>
    <div class="footad">
        <a href="{{ footadurl }}" title="{{ footadtext }}">
            <img src="{{ footad }}" alt="{{ footadtext }}" title="{{ footadtext }}">
        </a>
    </div>

    {% include 'footer.html' %}
</body>
</html>