{% if post['op'] == 1 %}
<div class="postContainer opContainer">
<div class="post op" id="post_{{ post['post_id'] }}">
{% else %}
<div class="postContainer replyContainer">
<span class="side_arrows">>></span>
<div class="post reply" id="post_{{ post['post_id'] }}">
{% endif %}

    {% if post['file_actual'] and post['op'] == 1 %}
    <span class="file_header">File: <a href="/uploads/{{ post['file_actual'] }}">{{ post['file_actual'] }}</a>-({{ post['filesize'] / 1000 }} KB, {{ post['file_width'] }}x{{ post['file_height'] }}, {{ post['filename'].rsplit('.')[0]|truncate(30, True, "(...)", 0) }}.{{ post['filename'].rsplit('.')[1] }})</span>
    <div class="file">
        <a href="/uploads/{{ post['file_actual'] }}"><img src=
        {% if post['spoiler'] == 1 %}
        "/static/spoiler.png"
        {% else %}
        "/uploads/{{ post['file_thumbnail'] }}"
        {% endif %}
        ></a>
    </div>
    {% endif %}
    <div class="post_header">
        {# deleteform.checkboxes[checkbox_index.value] #}
        {# set checkbox_index.value = checkbox_index.value + 1 #}
        {% if post['subject'] %}
        <span class="subject">{{ post['subject'] }} </span>
        {% endif %}
        <span class="name">
            {% if post['email'] %}
            <a href="mailto:{{ post['email'] }}">{{ post['name'] }}</a>
            {% else %}
            {{ post['name'] }}
            {% endif %}
        </span>
        <span class="timestamp">{{ get_strftime(post['time']) }} @{{ get_swatch(post['time']) }}</span>
        <span class="id">
            <a href="/{{ post['board_id']}}/{{ post['thread_id'] }}#{{ post['post_id'] }}">No.</a>
            <a href="/{{ post['board_id']}}/{{ post['thread_id'] }}#q{{ post['post_id'] }}">{{ post['post_id'] }}</a>
        </span>
        {% if post['sticky'] == 1 %}
        <img src="/static/sticky.gif">
        {% endif %}
        {% if post['op'] == 1 and not posts %}
        <span>[<a href="/{{ post['board_id']}}/{{ post['thread_id'] }}#{{ post['post_id'] }}">Reply</a>]</span>
        {% endif %}
    </div>
    {% if post['file_actual'] and post['op'] != 1 %}
    <span class="file_header">File: <a href="/uploads/{{ post['file_actual'] }}">{{ post['file_actual'] }}</a>-({{ post['filesize'] / 1000 }} KB, {{ post['file_width'] }}x{{ post['file_height'] }}, {{ post['filename'].rsplit('.')[0]|truncate(30, True, "(...)", 0) }}.{{ post['filename'].rsplit('.')[1] }})</span>
    <div class="file">
        <a href="/uploads/{{ post['file_actual'] }}"><img src=
            {% if post['spoiler'] == 1 %}
            "/static/spoiler.png"
            {% else %}
            "/uploads/{{ post['file_thumbnail'] }}"
            {% endif %}
            ></a>
    </div>
    {% endif %}
    <div class="content">
        {{ post['content'].replace('\n', '<br>') | safe}}
    </div>
</div>
</div>
