<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/yotsuba-b.css">
    <title>/{{ board }}/ -
    {% if posts[0]['subject'] %}
    {{ posts[0]['subject'] }}
    {% else %}
    {{ posts[0]['content'][:50] }}
    {% endif %}
     - tomochan</title>
</head>
<body>
    {% include 'header.html' %}

    {% for post in posts %}
        {% include 'post.html' %}
    {% endfor %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <hr>
    <div class="ad small_ad">
    <a href="{{ footadurl }}" title="{{ footadtext }}">
        <img src="{{ footad }}" alt="{{ footadtext }}" title="{{ footadtext }}">
    </a>
    </div>
    {% include 'footer.html' %}
</body>
</html>